#mainDiv {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: rgb(251, 203, 145);
    padding: 5px;
    width: 640px;
    height: 480px;
}

.dividio {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(247, 205, 153);
    padding: 10px;
}

#boton {
    background-color: rgb(247, 205, 153);
    border: none;
    border-radius: 4px;
}

#boton2 {
    background-color: rgb(247, 205, 153);
    border: none;
    border-radius: 4px;
}